<% layout('layout') -%> <% if (latest) { %>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">पछिल्लो तथ्यांक अपडेट</p>
  <%= moment(latest.last_updated_at).locale('ne').format('LLL'); %>
</div>

<div class="container">
  <div class="card-columns mb-3 text-center">
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">PCR परिक्षण गरिएको</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <%= getNepaliNumber(latest.pcr_sample_tested) %>
        </h1>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">सक्रिय संक्रमित</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <%= getNepaliNumber(latest.pcr_positive - latest.recovered) %>
        </h1>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">कुल संक्रमण देखिएको (PCR)</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <%= getNepaliNumber(latest.pcr_positive) %>
        </h1>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">निको भएको</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <%= getNepaliNumber(latest.recovered) %>
        </h1>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">मृत्यु भएको</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <%= getNepaliNumber(latest.death) %>
        </h1>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">RDT परिक्षण गरिएको</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <%= getNepaliNumber(latest.rdt_sample_tested) %>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row example-centered">
    <div class="col-md-12 example-title">
      <h2>समय रेखा (पछिल्लो ५० तथ्यांक)</h2>
    </div>
    <div class="stats-timeline-container col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-2">
      <ul class="timeline timeline-centered">
        <% Object.keys(stats).forEach(function(date) { %>
        <% stats[date].forEach(function(record, index) { %>
        <li class="timeline-item">
          <div class="timeline-info">
            <span><%= moment(date).locale('ne').format('LL'); %></span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <p><i class="far fa-clock"></i> <%=moment(record.last_updated_at).locale('ne').format('LLL') %></p>
            <p>
              <span>PCR परिक्षण गरिएको</span>
              <br>
              <%= getNepaliNumber(record.pcr_sample_tested) %>
            </p>
            <p>
              <span>संक्रमण देखिएको (PCR)</span>
              <br>
              <%= getNepaliNumber(record.pcr_positive) %>
            </p>
            <p>
              <span>संक्रमण नदेखिएको (PCR)</span>
              <br>
              <%= getNepaliNumber(record.pcr_negative) %>
            </p>
            <p>
              <span>निको भएको (PCR)</span>
              <br>
              <%= getNepaliNumber(record.recovered) %>
            </p>
            <p>
              <span>मृत्यु भएको</span>
              <br>
              <%= getNepaliNumber(record.death) %>
            </p>
            <p>
              <span>RDT परिक्षण गरिएको</span>
              <br>
              <%= getNepaliNumber(record.rdt_sample_tested) %>
            </p>
          </div>
        </li>
        <% }); %>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<% } else { %>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">हाल कुनै तथ्यांक उपलब्ध छैन |</p>
</div>
<% } %>